.site-header {
    // box model
    padding: 0 25px;
    height: 85vh;

    // visual
    background-image: url('./img/bg-car.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}